:root {
  --accent-color: #2196ff;
  --dark-color: #000;
  --editor-width: 1000px;
}
body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}